/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header {
    min-height: 530px;
    height: 73vh;
    text-align: center;
    overflow: hidden;
    background: -o-linear-gradient(295deg, rgba(215, 215, 215, 0) 55%, rgb(215, 215, 215, 0.200) 45%), -o-linear-gradient(60deg, rgba(218, 199, 194, 0) 62%, rgba(215, 215, 215, 0.200) 38%), -o-linear-gradient(315deg, rgba(173, 182, 185, 0.5) 0%, rgba(173, 182, 185, 0.5) 100%), -o-linear-gradient(315deg, rgba(202, 202, 202, 0.5) 0%, rgba(202, 202, 202, 0.5) 100%), url("../img/header-bg.jpg") center top / cover no-repeat fixed;
    background: linear-gradient(155deg, rgba(215, 215, 215, 0) 55%, rgb(215, 215, 215, 0.200) 45%), linear-gradient(30deg, rgba(218, 199, 194, 0) 62%, rgba(215, 215, 215, 0.200) 38%), linear-gradient(135deg, rgba(173, 182, 185, 0.5) 0%, rgba(173, 182, 185, 0.5) 100%), linear-gradient(135deg, rgba(202, 202, 202, 0.5) 0%, rgba(202, 202, 202, 0.5) 100%), url("../img/header-bg.jpg") center top / cover no-repeat fixed;
}

.top-bar {
    min-height: 40px;
    height: 6vh;
    padding-top: 5px;
    background: -o-linear-gradient(left, #ffffff9a 26%, hsla(0, 0%, 100%, 0.392) 26%, #ffffff64 74%, #ffffff9a 74%);
    background: -webkit-gradient(linear, left top, right top, color-stop(26%, #ffffff9a), color-stop(26%, hsla(0, 0%, 100%, 0.392)), color-stop(74%, #ffffff64), color-stop(74%, #ffffff9a));
    background: linear-gradient(to right, #ffffff9a 26%, hsla(0, 0%, 100%, 0.392) 26%, #ffffff64 74%, #ffffff9a 74%);
}

.top-bar__container {
    width: 45vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__logo-img {
    min-height: 30px;
    height: 5vh;
}

.header__tel {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 5vh;
    font-size: 18px;
    margin: 0 15px;
    color: #a63b81;
}

.heading {
    margin: 20vh 0 9vh;
    padding: 15px 0;
    font-size: 40px;
    -webkit-box-shadow: -15px 0px 10px rgba(255, 255, 255, 0.76), 15px 0px 10px rgba(255, 255, 255, 0.788);
    box-shadow: -15px 0px 10px rgba(255, 255, 255, 0.76), 15px 0px 10px rgba(255, 255, 255, 0.788);
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 120px;
    position: relative;
}

.header-menu__sign-up {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-menu__price {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.header__menu-btn {
    line-height: 50px;
    padding: 0 10px;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #a63b81;
}

.header__price {
    text-align: left;
}

.header__sign-up {
    text-align: right;
}

.header-menu__sign-up::after,
.header-menu__price::after {
    width: 350px;
}

.header-menu__sign-up::after {
    top: 55px;
}

.header-menu__price::after {
    bottom: -5px;
}

.header__price:active,
.header__sign-up:active,
.section-price__btn:active {
    color: #cc8eb67e;
    -webkit-transition: color 0.01s;
    -o-transition: color 0.01s;
    transition: color 0.01s;
    -webkit-transform: scale(1.005);
    -ms-transform: scale(1.005);
    transform: scale(1.005);
}

.section-price__btn_focused,
.section-gallery__btn-container_focused,
.header-menu__price_focused,
.header-menu__sign-up_focused {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.section-about {
    padding: 1vh 0 4vh;
    min-height: 27vh;
    background-color: #c9bdce;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px -10px 10px #a63b8117;
    box-shadow: 0px -10px 10px #a63b8117;
}

.section-about__heading {
    display: inline-block;
    padding: 15px;
    width: 300px;
    height: 80px;
    position: absolute;
    border-radius: 10px;
    top: -60px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #c9bdce;
    font-size: 35px;
    -webkit-box-shadow: 0px -5px 5px #a63b8117;
    box-shadow: 0px -5px 5px #a63b8117;
}

.section-about__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-about__item-container {
    width: 250px;
    margin: 20px 35px;
}

.section-about__item-container::before {
    content: "G";
    margin-bottom: 20px;
    display: block;
    font-size: 30px;
}

.section-about__item {
    display: block;
    padding: 15px;
    position: relative;
    background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0.3) 65%, rgba(255, 255, 255, 0.4) 72%, rgba(255, 255, 255, 0.1) 96%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 55%, rgba(255, 255, 255, 0.3) 65%, rgba(255, 255, 255, 0.4) 72%, rgba(255, 255, 255, 0.1) 96%);
    -webkit-box-shadow: -5px -5px 0px rgba(255, 255, 255, 0.12), 5px 5px 0px rgba(255, 255, 255, 0.12);
    box-shadow: -5px -5px 0px rgba(255, 255, 255, 0.12), 5px 5px 0px rgba(255, 255, 255, 0.12);
}

.section-about__item::after {
    width: 200px;
    top: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-gallery {
    background-color: #cdc3d1;
}

.section-gallery__header {
    min-height: 100px;
    height: 25vh;
    padding-top: 7vh;
    background: -o-linear-gradient(55deg, rgba(227, 205, 255, 0.4) 40%, rgb(215, 215, 215, 0) 40%), -o-linear-gradient(320deg, rgba(205, 195, 218, 0.5) 45%, rgba(215, 215, 215, 0) 45%), -o-linear-gradient(320deg, rgba(215, 215, 215, 0) 55%, rgb(215, 215, 215, 0.200) 45%) fixed, -o-linear-gradient(55deg, rgba(218, 199, 194, 0) 75%, rgba(215, 215, 215, 0.15) 25%) fixed, -o-linear-gradient(55deg, rgb(189, 198, 202) 32%, rgba(189, 198, 202, 0) 32%), -o-linear-gradient(315deg, rgba(202, 202, 202, 0.5) 0%, rgba(202, 202, 202, 0.5) 100%), -o-linear-gradient(315deg, rgba(201, 189, 206, 0.3) 0%, rgba(201, 189, 206, 0.3) 100%), -o-linear-gradient(55deg, rgb(189, 198, 202) 32%, rgba(189, 198, 202, 0) 32%), -o-linear-gradient(315deg, rgba(189, 198, 202, 0.451) 0%, rgba(189, 198, 202, 0.451) 100%), -o-linear-gradient(320deg, rgba(227, 205, 255, 0) 77%, rgba(227, 205, 255, 0.8) 13%), -o-linear-gradient(55deg, rgba(255, 255, 255, 0) 75%, rgba(231, 215, 252, 1) 25%), url("../img/section-bg-1.jpg") 50% 35% / 60% no-repeat;
    background: linear-gradient(35deg, rgba(227, 205, 255, 0.4) 40%, rgb(215, 215, 215, 0) 40%), linear-gradient(130deg, rgba(205, 195, 218, 0.5) 45%, rgba(215, 215, 215, 0) 45%), linear-gradient(130deg, rgba(215, 215, 215, 0) 55%, rgb(215, 215, 215, 0.200) 45%) fixed, linear-gradient(35deg, rgba(218, 199, 194, 0) 75%, rgba(215, 215, 215, 0.15) 25%) fixed, linear-gradient(35deg, rgb(189, 198, 202) 32%, rgba(189, 198, 202, 0) 32%), linear-gradient(135deg, rgba(202, 202, 202, 0.5) 0%, rgba(202, 202, 202, 0.5) 100%), linear-gradient(135deg, rgba(201, 189, 206, 0.3) 0%, rgba(201, 189, 206, 0.3) 100%), linear-gradient(35deg, rgb(189, 198, 202) 32%, rgba(189, 198, 202, 0) 32%), linear-gradient(135deg, rgba(189, 198, 202, 0.451) 0%, rgba(189, 198, 202, 0.451) 100%), linear-gradient(130deg, rgba(227, 205, 255, 0) 77%, rgba(227, 205, 255, 0.8) 13%), linear-gradient(35deg, rgba(255, 255, 255, 0) 75%, rgba(231, 215, 252, 1) 25%), url("../img/section-bg-1.jpg") 50% 35% / 60% no-repeat;
}

.section-gallery__btn-container {
    text-align: center;
}

.section-gallery__btn {
    font-size: 40px;
    padding: 10px 0;
    font-weight: 600;
    background-color: transparent;
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
    color: #a63b81;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.section-gallery__btn:active {
    color: #cc8eb67e;
}

.section-gallery__btn-container:active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.gallery-toggle {
    display: none;
}

.section-gallery__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90vh;
    padding: 5vh 0;
    width: 75%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    margin: 0 auto;
    overflow: hidden;
}

.section-gallery__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.section-gallery__img_focused,
.section-gallery__img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
}

.section-gallery__link {
    width: 15.5vh;
    height: 15.5vh;
    margin: 5px;
    position: relative;
    overflow: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.section-gallery__link:before {
    content: "";
    width: 11vh;
    height: 11vh;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2);
    -ms-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
    line-height: 11vh;
    position: absolute;
    text-align: center;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    color: #d4becca6;
    border: 2px solid #bba8b4a6;
    z-index: 1000;
    font-size: 40px;
    pointer-events: none;
}

.section-gallery__link_focused:before,
.section-gallery__link:hover:before {
    content: "\1F441";
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    -ms-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-50%, -50%) scale(0.95);
}

.section-gallery__link:active:before {
    color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    content: "\1F441";
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    -ms-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-50%, -50%) scale(0.95);
}

.section-gallery__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 16vh;
    height: 16vh;
    background-color: #927c8a4f;
    z-index: 100;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    pointer-events: none;
}

.section-gallery__link_focused::after,
.section-gallery__link:hover:after {
    background-color: #927c8aa6;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.section-gallery__link:active:after {
    background-color: #ffffff94;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.show-gallery {
    -webkit-animation: show-gallery-animation 1s ease-in forwards;
    animation: show-gallery-animation 1s ease-in forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hide-gallery {
    -webkit-animation: hide-gallery-animation 2s ease-in forwards;
    animation: hide-gallery-animation 2s ease-in forwards;
}

.reduce-gallery-heading {
    height: 10vh;
    padding-top: 4vh;
}

.restore-gallery-heading {
    -webkit-animation: restor-gllr-hdg-animation 2s ease-in forwards;
    animation: restor-gllr-hdg-animation 2s ease-in forwards;
}

@-webkit-keyframes show-gallery-animation {
    100% {
        height: 90vh;
        padding: 5vh 0;
    }
}

@keyframes show-gallery-animation {
    100% {
        height: 90vh;
        padding: 5vh 0;
    }
}

@-webkit-keyframes hide-gallery-animation {
    100% {
        height: 0;
        padding: 0;
    }
}

@keyframes hide-gallery-animation {
    100% {
        height: 0;
        padding: 0;
    }
}

@-webkit-keyframes reduce-gllr-hdg-animation {
    100% {
        height: 10vh;
        padding-top: 4vh;
    }
}

@keyframes reduce-gllr-hdg-animation {
    100% {
        height: 10vh;
        padding-top: 4vh;
    }
}

@-webkit-keyframes restor-gllr-hdg-animation {
    100% {
        height: 25vh;
        padding-top: 7vh;
    }
}

@keyframes restor-gllr-hdg-animation {
    100% {
        height: 25vh;
        padding-top: 7vh;
    }
}

.section-price {
    min-height: 600px;
    height: 75vh;
    background-color: #c9bdce;
    padding: 8vh 0 3vh;
}

.section-price__heading,
.section-form__heading {
    margin-bottom: 7vh;
    text-align: center;
    font-size: 32px;
    position: relative;
    z-index: 1;
}

.section-price__heading::before,
.section-form__heading::before {
    content: "";
    display: block;
    width: 250px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    -webkit-box-shadow: -1px 0px 5px rgba(229, 252, 255, 0.76), 1px 0px 5px rgba(229, 252, 255, 0.788);
    box-shadow: -1px 0px 5px rgba(229, 252, 255, 0.76), 1px 0px 5px rgba(229, 252, 255, 0.788);
}

.section-price__heading::after,
.section-form__heading::after {
    content: "";
    display: block;
    height: 2px;
    width: 250px;
    position: absolute;
    top: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.301);
    -webkit-box-shadow: -1px 0px 5px rgba(229, 252, 255, 0.6);
    box-shadow: -1px 0px 5px rgba(229, 252, 255, 0.6);
}

.block-section__heading {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 25px;
    position: relative;
}

.block-section__heading::after {
    width: 150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 5px;
}

.flex-container {
    width: 850px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.section-price__block {
    margin-bottom: 6vh;
}

.section-price__list {
    padding: 20px;
    width: 400px;
    height: 200px;
}

.section-price__list::before {
    width: 400px;
    height: 200px;
}

.section-price__list li {
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.section-price__additional {
    height: 100px;
}

.section-price__additional::before {
    width: 400px;
    height: 100px;
}

.section-price__btn-container {
    width: 400px;
    text-align: right;
}

.section-price__btn {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    color: #a63b81;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.section-price__btn:hover {
    -webkit-animation: hover-btn 1s ease-in;
    animation: hover-btn 1s ease-in;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

@-webkit-keyframes hover-btn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background: rgba(255, 255, 255, 1);
    }
    10% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        background: rgba(255, 255, 255, 0.8);
    }
    60% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        background: rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color: rgba(235, 252, 255, 0.1);
    }
}

@keyframes hover-btn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background: rgba(255, 255, 255, 1);
    }
    10% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        background: rgba(255, 255, 255, 0.8);
    }
    60% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        background: rgba(255, 255, 255, 0.2);
    }
    100% {
        background-color: rgba(235, 252, 255, 0.1);
    }
}

.section-price__btn::before {
    width: 100%;
    height: 50px;
}

.section-price__btn::after {
    width: 200px;
    right: 5px;
    bottom: -10px;
}

.section-form {
    min-height: 450px;
    height: 65vh;
    padding: 8vh 0 3vh;
    background-color: #cdc3d1;
}

.section-form__form {
    margin: 0 auto;
    padding: 2.5vh;
    width: 500px;
    height: 35vh;
    min-height: 275px;
    background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.1) 93%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.1) 93%);
    -webkit-box-shadow: -1px 0px 4px rgba(255, 255, 255, 0.76), 1px 0px 4px rgba(255, 255, 255, 0.788);
    box-shadow: -1px 0px 4px rgba(255, 255, 255, 0.76), 1px 0px 4px rgba(255, 255, 255, 0.788);
}

.section-form__btn,
.section-form__input {
    display: block;
    margin: 5px 0 15px;
    padding: 0 15px;
    width: 100%;
    min-height: 25px;
    height: 3.5vh;
    border: 0;
    border-radius: 20px;
    background-color: #cdc3d1;
    color: #a63b81;
    -webkit-box-shadow: -1px 0px 5px rgba(255, 255, 255, 0.76), 1px 0px 5px rgba(255, 255, 255, 0.788), inset 0px -10px 10px rgba(255, 255, 255, 0.205);
    box-shadow: -1px 0px 5px rgba(255, 255, 255, 0.76), 1px 0px 5px rgba(255, 255, 255, 0.788), inset 0px -10px 10px rgba(255, 255, 255, 0.205);
}

.section-form__input::-webkit-input-placeholder {
    color: #bb4692;
}

.section-form__input::-moz-placeholder {
    color: #bb4692;
}

.section-form__input:-ms-input-placeholder {
    color: #bb4692;
}

.section-form__input::-ms-input-placeholder {
    color: #bb4692;
}

.section-form__input::placeholder {
    color: #bb4692;
}

.error {
    background-color: #bb4d9549;
}

.section-form__btn {
    color: #bb4692;
    height: 4vh;
    margin: 30px 0 10px;
    font-size: 24px;
    font-weight: 600;
    background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.1) 93%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.1) 93%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.section-form__btn_focused,
.section-form__btn:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.section-form__btn:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0.5;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.section-form__validation-mes {
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 600;
    color: #e01c1c;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.404);
    /* opacity: 0; */
}

.section-contacts {
    min-height: 230px;
    height: 35vh;
    padding: 4vh 0 2vh;
    text-align: center;
    background: -o-linear-gradient(55deg, rgba(205, 195, 218, 0) 35%, rgba(215, 215, 215, 0.5) 35%), -o-linear-gradient(left, rgba(192, 192, 192, 0.451) 0%, rgba(192, 192, 192, 0.451) 100%), -o-linear-gradient(345deg, rgba(227, 205, 255, 0.3) 30%, rgb(227, 205, 255, 0) 30%) fixed, -o-linear-gradient(315deg, rgba(227, 205, 255, 0) 40%, rgb(227, 205, 255, 0.5) 40%) fixed, -o-linear-gradient(315deg, rgb(227, 205, 255, 0) 48%, rgba(236, 222, 255, 0.8) 48%), -o-linear-gradient(55deg, rgba(227, 205, 255, 0) 54%, rgba(201, 160, 255, 1) 46%), -o-linear-gradient(15deg, rgba(227, 205, 255, 1) 20%, rgba(227, 205, 255, 0) 20%), url("../img/section-bg-2.jpg") 20% 40% / 40%;
    background: linear-gradient(35deg, rgba(205, 195, 218, 0) 35%, rgba(215, 215, 215, 0.5) 35%), linear-gradient(90deg, rgba(192, 192, 192, 0.451) 0%, rgba(192, 192, 192, 0.451) 100%), linear-gradient(105deg, rgba(227, 205, 255, 0.3) 30%, rgb(227, 205, 255, 0) 30%) fixed, linear-gradient(135deg, rgba(227, 205, 255, 0) 40%, rgb(227, 205, 255, 0.5) 40%) fixed, linear-gradient(135deg, rgb(227, 205, 255, 0) 48%, rgba(236, 222, 255, 0.8) 48%), linear-gradient(35deg, rgba(227, 205, 255, 0) 54%, rgba(201, 160, 255, 1) 46%), linear-gradient(75deg, rgba(227, 205, 255, 1) 20%, rgba(227, 205, 255, 0) 20%), url("../img/section-bg-2.jpg") 20% 40% / 40%;
}

.section-contacts__heading {
    padding: 5px 0;
    font-size: 40px;
    width: 115%;
    margin-bottom: 2vh;
}

.section-contacts__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.section-contacts__item {
    text-align: left;
    margin-top: 2vh;
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.2) 6%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.2) 6%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.section-contacts__item_focused,
.section-contacts__contacts li:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.section-contacts__item:active {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.dsgn-link::before {
    font-family: 'Ligature Symbols';
    font-style: normal;
    margin-right: 15px;
}

.icon-inst::before {
    content: '\E155';
}

.icon-tel::before {
    content: '\E035';
}

.icon-map::before {
    content: '\E103';
    top: 20%;
}

.dsgn-link:active {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color: #dbb7cf;
}

.section-contacts__contacts a {
    margin-left: 70px;
    line-height: 4vh;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #bb4692;
}

.section-contacts__inst {
    width: 52%;
}

.section-contacts__tel {
    width: 55%;
}

.section-contacts__map {
    width: 58%;
}

.footer {
    min-height: 510px;
    height: 65vh;
    padding: 4vh 0 3vh;
    background-color: #1c0b26;
    position: relative;
    text-align: center;
    color: #a87697;
}

.trade-mark {
    width: 100%;
    height: 4.5vh;
    background-color: #0f020a;
    position: absolute;
    bottom: 0;
    padding: 1vh 0;
}

.trade-mark__author {
    margin: 0 15px;
}

.trade-mark__font {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    color: #a87697;
    font-size: 12px;
    margin: 0 15px;
    text-decoration: underline;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.trade-mark__font_focused,
.trade-mark__font:hover {
    color: #d8bbce;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.footer__logo-container {
    margin-bottom: 3vh;
}

.footer__logo-img {
    min-height: 50px;
    height: 6vh;
}

.footer__menu::after {
    content: "";
    display: block;
    height: 5vh;
    background: url(../img/dsg-element.png) center top / contain no-repeat;
    margin: 1vh auto;
}

.footer__link {
    width: 320px;
    display: inline-block;
    margin: 1.5vh 0;
    color: #a87697;
    font-size: 32px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.082);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    position: relative;
}

.section-contacts__address {
    display: block;
    font-size: 14px;
    margin: -15px 0 0 80px;
}

.footer__link_focused,
.footer__link:hover {
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 33px;
}

.footer__link:active {
    font-size: 31px;
    background-color: #a8769777;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.aside {
    display: none;
}

.aside__nav {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.nav-btn {
    font-size: 24px;
    color: #ad257e;
    position: relative;
    background-color: rgba(255, 255, 255, 0.459);
    font-weight: 600;
    width: 150px;
    line-height: 40px;
    overflow: hidden;
    margin: 0;
}

.nav-btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    background: -o-linear-gradient( 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    background: linear-gradient( 135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    -webkit-box-shadow: -1px 0px 2px rgb(229 252 255 / 76%), 1px 0px 2px rgb(229 252 255 / 79%);
    box-shadow: -1px 0px 2px rgb(229 252 255 / 76%), 1px 0px 2px rgb(229 252 255 / 79%);
}

.nav-btn_prev {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav-btn_next {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-btn:disabled {
    opacity: 0.8;
    color: #3d0d2c;
}

.nav-btn:active {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(32, 22, 29, 0.767);
    z-index: 1000;
}

.aside__picture {
    position: relative;
    z-index: 1;
    height: 70vh;
    overflow: hidden;
}

#added-img {
    opacity: 0;
    height: 70vh;
    padding: 30px;
}

.aside__picture::before {
    content: '';
    position: absolute;
    display: block;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    background: -o-linear-gradient( 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    background: linear-gradient( 135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 27%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 55%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.7) 77%, rgba(255, 255, 255, 0.9) 79%, rgba(255, 255, 255, 0.2) 96%);
    -webkit-box-shadow: -1px 0px 2px rgb(229 252 255 / 76%), 1px 0px 2px rgb(229 252 255 / 79%);
    box-shadow: -1px 0px 2px rgb(229 252 255 / 76%), 1px 0px 2px rgb(229 252 255 / 79%);
    z-index: -1;
}

@media (max-width: 1550px) {
    .section-gallery__body {
        width: 100%;
        padding: 15px;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .section-gallery__link {
        width: 13.5vh;
        height: 13.5vh;
    }
    .section-gallery__link:before {
        width: 10vh;
        height: 10vh;
    }
}

@media (max-width: 980px) {
    .top-bar__container {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .media-first-h-auto {
        height: auto;
    }
    .section-about__block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-container {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .media-first-section-padding {
        padding-top: 45px;
    }
    .media-first-heading-margine {
        margin-bottom: 40px;
    }
    .media-first-price-margine {
        margin: 0 20px 30px;
    }
    .media-first-width,
    .media-first-width::before {
        width: 300px;
    }
    .section-gallery__btn {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }
    .section-about__item-container {
        margin: 15px;
    }
    .section-contacts {
        background: -o-linear-gradient(55deg, rgba(205, 195, 218, 0) 35%, rgba(215, 215, 215, 0.5) 35%), -o-linear-gradient(left, rgba(192, 192, 192, 0.451) 0%, rgba(192, 192, 192, 0.451) 100%), -o-linear-gradient(345deg, rgba(227, 205, 255, 0.3) 30%, rgb(227, 205, 255, 0) 30%), -o-linear-gradient(315deg, rgba(227, 205, 255, 0) 40%, rgb(227, 205, 255, 0.5) 40%), -o-linear-gradient(315deg, rgb(227, 205, 255, 0) 48%, rgba(236, 222, 255, 0.8) 48%), -o-linear-gradient(55deg, rgba(227, 205, 255, 0) 54%, rgba(201, 160, 255, 1) 46%), -o-linear-gradient(15deg, rgba(227, 205, 255, 1) 5%, rgba(227, 205, 255, 0) 5%), url("../img/section-bg-2.jpg") 0 30% / 55%;
        background: linear-gradient(35deg, rgba(205, 195, 218, 0) 35%, rgba(215, 215, 215, 0.5) 35%), linear-gradient(90deg, rgba(192, 192, 192, 0.451) 0%, rgba(192, 192, 192, 0.451) 100%), linear-gradient(105deg, rgba(227, 205, 255, 0.3) 30%, rgb(227, 205, 255, 0) 30%), linear-gradient(135deg, rgba(227, 205, 255, 0) 40%, rgb(227, 205, 255, 0.5) 40%), linear-gradient(135deg, rgb(227, 205, 255, 0) 48%, rgba(236, 222, 255, 0.8) 48%), linear-gradient(35deg, rgba(227, 205, 255, 0) 54%, rgba(201, 160, 255, 1) 46%), linear-gradient(75deg, rgba(227, 205, 255, 1) 5%, rgba(227, 205, 255, 0) 5%), url("../img/section-bg-2.jpg") 0 30% / 55%;
    }
    .section-gallery__header,
    .section-contacts {
        padding: 20px 0;
    }
    .section-gallery__body {
        width: 100%;
        height: auto;
    }
    .footer {
        padding: 20px 0 30px;
        min-height: auto;
    }
    .footer__logo-container {
        margin-bottom: 10px;
    }
    .footer__logo-img {
        min-height: auto;
        height: 40px;
    }
    .footer__link {
        width: 280px;
        line-height: 35px;
        margin: 10px 0;
    }
    .footer__menu::after {
        height: 35px;
        margin: 10px 0 20px;
    }
    .aside__picture {
        height: 400px;
    }
    #added-img {
        height: 400px;
    }
}

@media (max-width: 640px) {
    .header {
        height: 420px;
        min-height: 400px;
    }
    .header__tel {
        font-size: 14px;
        line-height: 30px;
    }
    .media-two-fs {
        font-size: 30px;
    }
    .top-bar {
        height: 40px;
    }
    .header__logo-img {
        height: 30px;
    }
    .heading {
        margin: 80px 0 40px;
        font-size: 30px;
    }
    .header-menu__item {
        height: 100px;
    }
    .header__menu-btn {
        line-height: 35px;
        font-size: 25px;
    }
    .header-menu__sign-up::after {
        top: 40px;
    }
    .section-price__btn {
        margin-top: 10px;
    }
    .section-form__form {
        width: 90%;
    }
    .section-price__additional {
        margin: 0 0 20px;
    }
    .section-gallery__body {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section-gallery__link {
        width: 10vh;
        height: 10vh;
    }
    .section-gallery__btn {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }
    .section-contacts__contacts li {
        font-size: 14px;
    }
    .section-contacts__address,
    .section-contacts__contacts a {
        margin-left: 25px;
    }
    .section-contacts__contacts li {
        width: 100%;
        text-align: center;
    }
    .trade-mark {
        height: 35px;
        padding: 10px 0 0;
        font-size: 10px;
    }
    .trade-mark__font {
        font-size: 10px;
        margin: 0 5px;
    }
    .aside__picture {
        height: 250px;
    }
    #added-img {
        height: 250px;
    }
    .nav-btn {
        width: 100px;
        font-size: 18px;
    }
}